encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1f4296xdyucwf7sava20va3ht9cwyp5kxyxmck32ctezsh5zexpeqg2qe73"

[git]
  autoPush=true

[data]
  name="eno:{{ .chezmoi.hostname }}"
  obsidian_path="" # do not include / at end
  executable_ = false

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
