[user]
	email = 127910259+eokoshi@users.noreply.github.com	
	name = eokoshi

[credential "https://github.com"]
        helper = /usr/bin/gh auth git-credential
[init]
	defaultBranch = main

[pull]
	ff = only

[tool]
	mergetool = nvimdiff

[core]
	autocrlf = input
