#!/usr/bin/env bash

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
set -ueo pipefail

## apt packages
sudo apt-get -y --ignore-missing install ripgrep fd-find python3-venv npm direnv tmux lsd
ln -s $(which fdfind) ~/.local/bin/fd
read -p "Install GitHub CLI? [y/n]" -n 1 -r

if [[ $REPLY =~ ^[Yy]$ ]]
then
	(type -p wget >/dev/null || (sudo apt update && sudo apt-get install wget -y)) \
		&& sudo mkdir -p -m 755 /etc/apt/keyrings \
			&& out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
			&& cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
		&& sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
		&& echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
		&& sudo apt update \
		&& sudo apt install gh -y
	gh auth login
fi

echo
read -p "Install chezmoi? [y/n]" -n 1 -r
if [[ $REPLY =~ ^[Yy]$ ]]
then
	sh -c "$(curl -fsLS get.chezmoi.io)" -- -b $HOME/.local/bin
	chezmoi init --apply eokoshi
fi


echo
read -p "Install uv? [y/n]" -n 1 -r
if [[ $REPLY =~ ^[Yy]$ ]]
then
	curl -LsSf https://astral.sh/uv/install.sh | sh
	uv python install
fi


echo
read -p "Install zoxide? [y/n]" -n 1 -r
if [[ $REPLY =~ ^[Yy]$ ]]
then
	curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
fi



echo
read -p "Install nvim? [y/n]" -n 1 -r
if [[ $REPLY =~ ^[Yy]$ ]]
then
	sudo rm -rf /opt/nvim
	sudo mkdir /opt/nvim
{{- if eq .chezmoi.arch "amd64"}}
	curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
	sudo tar -C /opt/nvim -xzf nvim-linux-x86_64.tar.gz --strip-components=1
	rm -f nvim-linux-x86_64.tar.gz
{{- else if eq .chezmoi.arch "arm64"}}
	curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux-arm64.tar.gz
	sudo tar -C /opt/nvim -xzf nvim-linux-arm64.tar.gz --strip-components=1
	rm -f nvim-linux-arm64.tar.gz
{{- end}}
fi

echo
read -p "Install yazi? [y/n]" -n 1 -r
if [[ $REPLY =~ ^[Yy]$ ]]
then
	sudo rm -rf /opt/yazi
	sudo mkdir /opt/yazi
{{- if eq .chezmoi.arch "amd64"}}
	YAZI_SYS = "yazi-x86_64-unknown-linux-gnu"
	curl -LO "https://github.com/sxyazi/yazi/releases/latest/download/${YAZI_SYS}.zip"
	sudo unzip "${YAZI_SYS}.zip" -d /opt/yazi/
	rm -f "${YAZI_SYS}.zip"
{{- else if eq .chezmoi.arch "arm64"}}
	curl -LO https://github.com/sxyazi/yazi/releases/latest/download/yazi-aarch64-unknown-linux-gnu.zip
	unzip yazi-aarch64-unknown-linux-gnu.zip
	sudo mv yazi-aarch64-unknown-linux-gnu/* /opt/yazi/
	rm -f yazi-aarch64-unknown-linux-gnu.zip
	rm -rf yazi-aarch64-unknown-linux-gnu
	sudo ln -s /opt/yazi/yazi ~/.local/bin/yazi
{{- end}}
fi


echo
read -p "Install lazygit? [y/n]" -n 1 -r
if [[ $REPLY =~ ^[Yy]$ ]]
then
	LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | \grep -Po '"tag_name": *"v\K[^"]*')
	curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/download/v${LAZYGIT_VERSION}/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
	tar xf lazygit.tar.gz lazygit
	sudo install lazygit -D -t /usr/local/bin/
	sudo rm -rf lazygit
	sudo rm lazygit.tar.gz
fi

{{- end }}

{{- if eq .chezmoi.osRelease.id "arch" }}

# TODO: how much to set up manually vs here?

{{- end}}
