return {
	{
		"jbyuki/nabla.nvim",
		dependencies = {
			-- "nvim-neo-tree/neo-tree.nvim",
			"mason-org/mason.nvim",
		},
		lazy = true,
{{ if eq .chezmoi.hostname "eeftop" }}
		event = {
			"BufReadPre /mnt/c/Users/ethan/Documents/Obsidian/*.md",
			"BufNewFile /mnt/c/Users/ethan/Documents/Obsidian/*.md",
		},
{{ else if eq .chezmoi.hostname "office" }}
		event = {
			"BufReadPre /mnt/c/Users/pathology/Documents/Obsidian/*.md",
			"BufNewFile /mnt/c/Users/pathology/Documents/Obsidian/*.md",
		},
{{ else }}
		enabled = false,
{{ end }}
	},
}
